# This file is used to track build constraints for packages
# via pyodide-build.
#
# Add any upper bounds for packages here to ensure that
# their builds succeed, or those for packages that rely
# on them at build time.

cmake == 3.31.10
meson == 1.9.2
setuptools == 80.10.2
